.project
.pydevproject
.idea
*.pyc
*build/
/dist/
/SpiNNFrontEndCommon.egg-info/
.settings
.cproject
Debug
lastfailed
/.cache
.coverage
.DS_Store
*.o
*.a
/java_common_2/nbproject/private/
/java_common_2/dist/
/java_common/nbproject/private/
/java_common/dist/