six
enum34
SpiNNUtilities >= 1!4.0.1, < 1!5.0.0
SpiNNMachine >= 1!4.0.1, < 1!5.0.0
SpiNNStorageHandlers >= 1!4.0.1, < 1!5.0.0
SpiNNMan >= 1!4.0.1, < 1!5.0.0
SpiNNaker_PACMAN >= 1!4.0.1, < 1!5.0.0
SpiNNaker_DataSpecification >= 1!4.0.1, < 1!5.0.0
spalloc >= 1.0.1, < 2.0.0
requests >= 2.4.1
scipy >= 0.16.0
numpy
futures; python_version == "2.7"
# spinnaker_tools
