# Copyright (c) 2020 The University of Manchester
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

name: Publish

on: [push]
#  push:
#    branches: [ master ]

env:
  ROOT_DOC_DIR: doc/global
  C_DOC_DIR: c_common/doc/html
  PY_DOC_DIR: doc/source/_build/html
  DEPLOY_DIR: deploy

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Checkout
        uses: actions/checkout@v2
      - name: Checkout SupportScripts
        uses: actions/checkout@v2
        with:
          repository: SpiNNakerManchester/SupportScripts
          path: support
          ref: actions
      - name: Set dynamic environment variables
        run: |
          echo "SPINN_DIRS=$PWD/spinnaker_tools" >> $GITHUB_ENV
      - name: Checkout SpiNNaker Dependencies
        uses: ./support/actions/checkout-spinn-deps
        with:
          # Need spinnaker_tools so we can run the makefiles
          repositories: >
            SpiNNUtils SpiNNMachine SpiNNMan PACMAN DataSpecification spalloc
            spinnaker_tools
          install: true
      - name: Read tags
        run: make doxysetup
      - name: Install Python code
        uses: ./support/actions/run-setup

      - name: Build Python documentation
        uses: ./support/actions/sphinx
        with:
          directory: doc/source
      - name: Build C documentation
        uses: mattnotmitt/doxygen-action@v1.1.0
        with:
          working-directory: c_common

      - name: Merge documentation trees
        run: |
          cp -vaT $ROOT_DOC_DIR $DEPLOY_DIR
          cp -vaT $C_DOC_DIR $DEPLOY_DIR/c
          cp -vaT $PY_DOC_DIR $DEPLOY_DIR/python

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: ${{ env.DEPLOY_DIR }}
